{% extends 'django_bpaml_event/base.html' %}
{% block main %}
<section>
{% if list_events %}
<h1>Upcoming events</h1>
    <table>
    {% for event in list_events %}
        <tr>
            <td><a href="{% url 'event' event.code %}">{{ event.date }}</a></td>
            <td>{{ event.title }}</td>
            {% if user.is_authenticated %}
            <td>
            {% url 'index' as url_next %}
            {% if user in event.attendees.all %}
                ATTENDING  (<a href="{% url 'attend' code=event.code rsvp='no' %}" title="change to NOT ATTENDING">change</a>)
            {% else %}
                NOT ATTENDING  (<a href="{% url 'attend' code=event.code rsvp='yes' %}" title="change to ATTENDING">change</a>)
            {% endif %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No events have been scheduled</p>
{% endif %}
</section>
{% endblock %}

{% block nav-breadcrumbs %}
<nav aria-label="Breadcrumbs">
  <div class="breadcrumbs">
    <a href="{% url 'index' %}">Events</a>
  </div>
</nav>
{% endblock %}
