{% extends 'django_bpaml_event/base.html' %}
{% block main %}
{% if user.is_authenticated %}
<h2>Authenticated user</h2>
<form action="{% url 'member-edit' %}" method="post">
{% csrf_token %}
    <table>
        <tr>
            <td>Email: </td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="first-name" value="{{ user.first_name }}" size="20"><input type="text" name="last-name" value="{{ user.last_name }}" size="20"></td>
        </tr>
        <tr>
            <td>Meetup Name:</td>
            <td><input type="text" name="meetup-name" value="{{ user.meetup_name }}" size="47"></td>
            <td>Your name on meetup, so we can match the two attendee lists</td>
        </tr>
    </table>
    <input type="submit" value="Save">
</form>
{% else %}
<p>Please sign in to update member details</p>
{% endif %}
{% endblock %}
